body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.emojis-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.emoji {
    position: absolute;
    font-size: 24px;
    pointer-events: none;
    transform-origin: center center;
    animation: floatAnimation linear infinite, confettiAnimation linear infinite;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes confettiAnimation {
    0% {
        transform: rotateZ(0) translate(0, 0);
    }
    100% {
        transform: rotateZ(360deg) translate(100vw, 100vh);
    }
}
